# Python
/.python-version
/.pytype/
/dist/
/docs/_build/
*.egg-info/
__pycache__/
.*venv*
_build/
.tox

src/psycop-*

#

# VSCode
.vscode/

# MacOS
.DS_Store

*.html
.Rproj.user
*.csv
*.xslx
src/t2d.evaluation.egg-info
.idea
.vscode
*.png
*.pyc
src/psycop-model-training
.Rhistory
outputs_for_publishing/
joblib
*_cache/
wandb
multirun
src/psycop