# Python
.mypy_cache/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.*venv*

# VSCode
.vscode/

# MacOS
.DS_Store

*.html
.Rproj.user
*.csv
*.xslx
src/t2d_baseline_paper.egg-info
.idea
.vscode
*.png
*.pyc
src/psycop-model-training
.Rhistory
outputs_for_publishing/
joblib