-e git+https://github.com/Aarhus-Psychiatry-Research/psycop-feature-generation#egg=psycop_feature_generation \
-e git+https://github.com/Aarhus-Psychiatry-Research/psycop-model-training#egg=psycop_model_training \
-e git+https://github.com/Aarhus-Psychiatry-Research/psycop-model-evaluation#egg=psycop_model_evaluation \